/* https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
a.anchor {
    display: block;
    position: relative;
    top: -40px;
    visibility: hidden;
}

a.anchor-xl {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

/* The alert message box */
.alert {
 padding: 10px;
 opacity: 0.8;
 position: absolute;
 width: 90%;
 left: 5%;
 top: 50px;
 z-index: 2;
 /* fix for mobile Safari */
 -webkit-transform: translate3d(0,0,0);
}

/* Limit the width on wide screens */
@media screen and (min-width: 992px) {
  .alert {
    width: 50%;
    left: 25%;
  }
}

/* The close button */
.closebtn {
 margin-left: 5px;
 color: white;
 font-weight: bold;
 float: right;
 font-size: 22px;
 line-height: 20px;
 cursor: pointer;
 transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
 color: black;
}
